In [1]:
from classify import *

In [ ]:
sub_df = create_submissionfile(model_name="Final_model")

Loading model from meta_data\saved_model
Safe rows: 7043, NaN rows: 92
Meta-model failed, using null safe models as fallback (Input contains NaN.)
Meta-model failed, using null safe models as fallback (Input contains NaN.)
Meta-model failed, using null safe models as fallback (Input contains NaN.)
Submission saved to: c:\Users\rasmu\OneDrive - BTH Student\Documents\PythonProjects\year3\Machine_Learning\Final_project\submission_files\submission_2.csv

In [3]:
sub_df.describe()

        prediction
count  7135.000000
mean      0.303714
std       0.459893
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000