In [1]:
from classify import *

In [ ]:
sub_df = create_submissionfile()

Loading model from meta_data\saved_model
['English Translation', 'split', 'SpecType', 'target']
Error, can't include all, proceed with NAN safe base_models
Error, can't include all, proceed with NAN safe base_models
Error, can't include all, proceed with NAN safe base_models

                  object_id  prediction
0           Elrim_sador_hun           0
1  Eluwaith_Mithrim_nothrim           0
2        Eru_heledir_archam           0
3         Gonhir_anann_fuin           0

In [ ]:
sub_df.describe()